@import '../../style/config/color';

@mixin settingLine($Width){
	height: 5px;
	width: $Width;
	border-radius: 20px;
	background-color: #B73737;
}


.ContentBlockNews{
	padding: 50px 15px;
	&__title{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		column-gap: 30px;
		&__Line1{
			@include settingLine(15%)
		}
		&__Line2{
			@include settingLine(100%)
		}
		h3{
			font-size: 35px;
			color: $GryBlackText;
		}
	}
	&_List{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 50px;
		width: 100%;
		padding: 50px 0;
		&__news{
			width: 80%;
			background-color: #fff;
			padding: 10px 20px;
			border-radius: 10px;
			box-shadow: 5px 5px 6px 0 rgba(10, 10, 10, 0.274);
			@media (max-width: 830px) {
				width: 90%;
			}
			&__title{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 10px 0;
				border-bottom: 2px solid $RedColor;
				@media (max-width:1160px) {
					flex-direction: column;
					text-align: center;
				}
				h3{
					font-size: 30px;
					color: $GryBlackText;
				}
				p{
					font-size: 18px;
					color: $GryBlackText;
				}
				&__input{
					min-width: 700px;
					max-width: 730px;
					padding: 0 10px;
					height: 40px;
					font-size: 25px;
					color: $GryBlackText;
					border-bottom: 2px solid #9c8a8a;
					@media (max-width:900px) {
						min-width: max-content;
					}
					@media (max-width:470px) {
						min-width: 300px;
						width: 300px;
					}
				}
			}
			&__text{
				padding: 20px 0;
				p{
					font-size: 18px;
					line-height: 1.5em;
					text-align: justify;
					text-indent: 1.5em;
					color: $GryBlackText;
				}
				&__textarea{
					resize: none;
					width: 100%;
					height: 150px;
					font-size: 18px;
					color: $GryBlackText;
					padding: 5px;
					border-radius: 8px;
					&:focus{
						outline: none;
						border: 1px solid #9c8a8a;
						
					}
				}
			}
			&__BlockBTN{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				&__BTNEdit{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 200px;
					height: 35px;
					background-color: #eee8e2;
					border-radius: 8px;
					color: $GryBlackText;
					font-size: 18px;
					transition: all 0.3s ease;
					&:hover{
						background-color: #e1dad3;
					}
				}
				&__BTNDelete{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 35px;
					height: 35px;
					background-color: #d9c0c0;
					border-radius: 8px;
					color: $GryBlackText;
					font-size: 18px;
					transition: all 0.3s ease;
					&:hover{
						background-color: #c5aaaa;
					}
				}
			}
		}
	}
	&_BTN{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
		height: 50px;
		float: right;
		margin-right: 50px;
		color: #e9e8e8;
		background-color: $RedColor;
		font-size: 20px;
		border-radius: 8px;
		transition: all 0.3s ease;
		&:hover{
			background-color: $RedColor_hover;
		}
	}
	
}

.PageAllNews{
	&__Content{
		&__Lent{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 30px;
		}
	}
}