@import './../../style/config/color';

@mixin Setting_ImgAndP {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	img{
		width: 70px;
	}
	p{
		font-size: 25px;
		color: $GryBlackText;
		max-width: 300px;
	}
}

.ContentBlockIcon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 50px;
	padding: 90px 0;
	&__CardAndCash{
		@include Setting_ImgAndP();
	}
	&__exclusive{
		@include Setting_ImgAndP();
	}
	&__saw{
		@include Setting_ImgAndP();
	}
	&__tree{
		@include Setting_ImgAndP();
	}
}