$BodyFon: #FFFEF8;
//Text
$RedColorText: #ac3737;
$RedColorText_hover: #ce5555;
$GryColorText: #d1d1d1;
$GryBlackText: #525252;
//Header
$GradientRed: #6c0101;
//IconHeader
$GryColorIcon: #d1d1d1;
$GryColorIcon_hover: #fb6161;
$BackgroundNumberBasket: #ac3737;
$ColorIconHeader: #ac3737;
//User and Social
$BackgroundColorIconSocial: #F4F4F4;
$BackgroundColorBlockUser: #331B1B;
//Nav
$BackgroundColorNav: #270404;
$BackgroundColorBefore: #832323;
$BackgroundColorAfter: #AE3434;
$BackgroundSearch: #FFFEF8;
$BTNArrow: #FFFEF8;
$BackgroundColorCatalogNav: rgba(235, 224, 216, 0.903);
//ModalWindow
$BackgroundColorFon_modal: rgba(17, 1, 1, 0.748);
$BackgroundColorFonContent_modal: #FFFEF8;
$LineTitle-modal:#832323;
//All
$RedColor: #ac3737;
$RedColor_hover: #ce5555;