@import '../../style/config/color';

.PageRestoration{
	&__Content{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		&__Block{
			display: flex;
			flex-direction: column;
			justify-content: center;
			row-gap: 40px;
			align-items: center;
			width: 80%;
			background-color: #f5efe9;
			padding: 50px 20px;
			border-radius: 8px;
			@media (max-width:850px) {
				width: 90%;
			}
			&__title{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				column-gap: 20px;
				width: 100%;
				img{
					filter: opacity(70%);
				}
				h3{
					color: $RedColor;
					font-size: clamp(19px, 1.5vw, 23px);
					letter-spacing: 2px;
				}
			}
			p{
				color: $GryBlackText;
				font-size: clamp(19px, 1.8vw, 22px);
				text-align: justify;
			}
			&__titleRest{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				column-gap: 20px;
				width: 100%;
				span{
					background-color: $RedColor;
					width: 100%;
					height: 3px;
				}
				h3{
					color: $RedColor;
					font-size: clamp(19px, 1.5vw, 23px);
					letter-spacing: 2px;
					min-width: max-content;
					@media (max-width:440px) {
						min-width: 200px;
						text-align: center;
					}
				}
				&__Element{
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					column-gap: 50px;
					@media (max-width:1280px) {
						column-gap: 10px;
						flex-wrap: wrap;
						row-gap: 10px;
					}
					&__text{
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: #FFFEF8;
						width: 210px;
						height: 60px;
						border-radius: 8px;
						color: $GryBlackText;
						font-size: 20px;
					}
				}
			}
		}
	}
}