@import '../../style/config/color';
@import '../../style/config/fonts';


.Header{
	background: linear-gradient(90deg, rgba(39,1,1,1) 0%, rgba(5,1,1,1) 78%);
	height: max-content;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 50px 15px;
	position: relative;
	overflow-x: hidden;
	z-index: 5;
	&__Logo_Fon{
		position: absolute;
		top: -100px;
		left: -100px;
		width: 750px;
		opacity: 5%;
		transform: rotate(20deg);
		z-index: 0;
	}
	&_top{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;	
		margin-top: 50px;
		&__BrandName{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 5%;
			margin-left: -150px;
			h3{
				color: $GryColorText;
				font-family: "Gabriela", serif;
				font-size: clamp(17px, 2.5vw, 28px);
				transform: rotate(-90deg);
				margin-right: -120px;
				letter-spacing: 3px;
				font-weight: 400;
			}
			&__img{
				display: flex;
				flex-direction: column;
				row-gap: 70px;
				img:nth-child(1){
					width: clamp(60px, 8vw, 100px);
				}
				img:nth-child(2){
					opacity: 80%;
					width: clamp(80px, 13vw, 200px);
				}
			}
		}
	}
	&_Contact{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 150px;
		padding-right: 40px;
		width: 100%;
		&__social{
			z-index: 2;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			row-gap: 40px;
			margin-left: 100px;
		}
	}
	
}

