@import '../../style/config/color';
@import '../../style/config/fonts';

.Contact{
	display: flex;
	&__Phone_SaintPetersburg{
		font-family: "Gabriela", serif;
		h3{
			color: $GryColorText;
			font-size: clamp(18px, 1.5vw, 23px);
			margin-bottom: 10px;
			letter-spacing: 3px;
			@media (max-width:555px) {
				font-size: 14px;
			}
		}
		span{
			font-size: clamp(17px, 1.8vw, 19px);
			@media (max-width:555px) {
				font-size: 14px;
			}
			p{
				color: $RedColorText;
				margin-left: -25px;
				margin-bottom: 8px;
			}
			a{
				color: $GryColorText;
				font-size:  clamp(15px, 2vw, 18px);
				letter-spacing: 3px;
				@media (max-width:555px) {
					font-size: 12px;
				}
			}
		}
	}
	&__Phone_Kaliningrad{
		font-family: "Gabriela", serif;
		display: flex;
		h3{
			color: $GryColorText;
			font-size: clamp(18px, 1.5vw, 23px);
			margin-bottom: 10px;
			letter-spacing: 3px;
			@media (max-width:555px) {
				font-size: 14px;
			}
		}
		span{
			font-size:  clamp(17px, 1.8vw, 19px);
			@media (max-width:555px) {
				font-size: 14px;
			}
			p{
				color: $RedColorText;
				margin-left: -25px;
				margin-bottom: 8px;
			}
			a{
				color: $GryColorText;
				font-size: clamp(15px, 2vw, 18px);
				letter-spacing: 3px;
				@media (max-width:555px) {
					font-size: 12px;
				}
			}
		}
	}
}